/* Universal Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  /* Dark Green Background */
  background-color: #3B544D;
  /* Ensure Full Height */
  min-height: 100vh;
  /* Default light text color */
  color: #F5F5F5;
  /* Center the card horizontally and vertically */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* Main Card Container */
main {
  /* Apply same as body for consistency to the card */
  background-color: #1f3c34;
  /* Set a max width so card doesn't stretch too wide */
  max-width: 550px;
  /* Add padding for inner spacing */
  padding: 40px 30px 60px 30px;
  /* Add a slight margin to ensure it doesn't touch screen edges */
  margin: 10px;
  /* make text font size slightly larger for readability */
  font-size: 1.1em;
}

/* Header Styling: Container for title and QR code */
header {
  padding-bottom: 20px;
  position: relative;

  background-image: url("qr_image.png");
  background-repeat: no-repeat;

  /* Set size of the QR code */
  background-size: 130px;
  /* Position the QR code to the top right */
  background-position: top 5px right 0;
}

/* Title Styling */
h1 {
  /* Set font size larger */
  font-size: 2.2em;

  font-family: Georgia, "Times New Roman", Times, serif;

  /* Add some space below the title */
  margin-bottom: 10px;
  /* Set line height for better spacing */
  line-height: 1.2;
  color: #F5F5F5;
}

/* Italic text styling */
h1 i {
  /* Make italic part slightly bolder */
  font-weight: 600;
  /* Change the color to a distinct light green */
  color: #c0d6c9;
}

/* Section Stylin: Container for the main body text */
section {
  /* Add padding to the top and bottom to seperate from header and footer */
  padding: 20px 0;
}

/* Paragraph Styling */
p {
  /* Add space below each paragraph */
  margin-bottom: 15px;
  /* Set line height for better readability */
  line-height: 1.5;
}

/* Footer Styling: Container for the button */
footer {
  /* Use a Flexbox to arrange the buttons */
  display: flex;

  justify-content: space-bewteen;
/* Add a little top padding to seperate it */
  padding-top: 15px;

}

/* Button Styling */
footer a {
  /* Display as block/inline-block*/
  display: inline-block;
  /* Remove default link underline */
  text-decoration: none;
  /* Set background color to a (light green/cream) */
  background-color: #D1E8D9;
  /* Set text color to dark green */
  color: #1F3C34;
  /* Add padding for button size */
  padding: 10px 18px;
  /* Round corners slightly */
  border-radius: 1px;
  /* Make text bolder */
  font-weight: bold;
  /* Ensure text is centered */
  text-align: center;
  /* Adjust width for buttons to fit side by side */
  width: 46%;
}

