/* Universal Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  /* Dark Green Background */
  background-color: #1f3c34;
  /* Ensure Full Height */
  min-height: 100vh;
  /* Default light text color */
  color: F5F5F5;
  /* Center the card horizontally and vertically */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* Main Card Container */
main {
  /* Apply same as body for consistency to the card */
  background-color: #1f3c34;
  /* Set a max width so card doesn't stretch too wide */
  max-width: 400px;
  /* Add padding for inner spacing */
  padding: 30px;
  /* Add a slight margin to ensure it doesn't touch screen edges */
  margin: 10px;
  /* make text font size slightly larger for readability */
  font-size: 1.1em;
}

/* Header Styling: Container for title and QR code */
header {
  /* Add internal space around content */
  padding: 30px 20px 20px 0;
  /* Set to a relative for easy positioning of the QR code */
  position: relative;

  background-image: url("QR.png");
  background-repeat: no-repeat;

  /* Set size of the QR code */
  background-size: 110px;
  /* Position the QR code to the top right */
  background-position: top 30px right 0;
}

/* Title Styling */
h1 {
  /* Set font size larger */
  font-size: 2.2em;

  font_family: Georgia, "Times New Roman", Times, serif;

  /* Add some space below the title */
  margin-bottom: 20px;
  /* Set line height for better spacing */
  line-height: 1.2;
}

/* Italic text styling */
h1 i {
  /* Make italic part slightly bolder */
  font-weight: 600;
  /* Change the color to a distinct light green */
  color: #c0d6c9;
}
